<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strinct-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>Welcome</div>
<div sec:authorize="isAuthenticated()"><a th:href="@{/logout}">logout</a></div>
<div sec:authorize="isAuthenticated()">principalName: <span th:text="${principalName}"></span></div>
<div sec:authorize="isAuthenticated()">clientName: <span th:text="${clientName}"></span></div>
<div sec:authorize="isAuthenticated()">accessToken: <span th:text="${accessToken}"></span></div>
<div sec:authorize="isAuthenticated()">refreshToken: <span th:text="${refreshToken}"></span></div>

</body>
</html>